$default: #8d8d8d;
$accent: #fe3e57;
$title: #29282d;
$bg: #f6f6f6;

%quicksand-400 {
    font-family: 'Quicksand-Regular', sans-serif;
    font-weight: 400;
}
%quicksand-500 {
    font-family: 'Quicksand-Medium', sans-serif;
    font-weight: 500;
}
%roboto-400 {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
}
%roboto-500 {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 500;
}
%roboto-700 {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
}

%btn {
    background-color: $accent;
    text-transform: uppercase;
    color: #fff;
    padding: 12px 26px;
    @extend %roboto-400;
    box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
    cursor: pointer;
}

%checkbox-hidden,
%radio-hidden{
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
}

@function max($numbers...) {
@return m#{a}x(#{$numbers});
}
@function min($numbers...) {
@return m#{i}n(#{$numbers});
}




// $(function(){

//     $('.filter-price__input')

//     $('.top-slider__inner').slick({
//         dots: true,
//         arrows: false,
//         fade: true
//     });

//     $("stars").rateyo({
//         srarWidth: "17px",
//         normalFill: "#ccccce",
//         ratedFill: "#ffc35b",
//         ready: true
//     });

//     function getTimeRemaining(endtime) {
//         const total = Date.parse(endtime) - Date.parse(new Date());
//         const seconds = Math.floor((total / 1000) % 60);
//         const minutes = Math.floor((total / 1000 / 60) % 60);
//         const hourse = Math.floor(total / (1000 * 60 * 60 * 24));
//         const days = Math.floor(total / (1000 *60 *60 *24));

//         return {
//             total,
//             days,
//             hours,
//             minutes,
//             seconds
//         };
//     }

//     function initializeClock(id, endtime) {
//         const clock = document.querySelector('.promo__clock');
//         const daysSpan = clock.querySelector('.promo__days');
//         const hoursSpan = clock.querySelector('.promo__hours');
//         const minutesSpan = clock.querySelector('.promo__minutes');
//         const econdsSpan = clock.querySelector('.promo__seconds');

//         function updateClock() {
//             const t = getTimeRemaining(endtime);

//             daysSpan.innerHTML = t.days;
//             hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
//             minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
//             secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

//             if (t.total <= 0) {
//                 clearInterval(timeinterval);
//             }
//         }

//         updateClock();
//         const timeinterval = setInterval(updateClock, 1000);
//     }

//     const deadline = $('.promo__clock').attr('data-time');
//     initializeClock('promo__clock', deadline);
// });

