@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
    padding: 48px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.menu{
    padding-top: 10px;
    &__list{
        display: flex;
    }
    &__list-item + .menu__list-item{
        padding-left: 35px;
    }
    &__list-link{
        color: $title;
        padding-bottom: 0 2px 1px;
        transition: all .3s;
        @extend %roboto-400;
        &:hover{
            color: $accent;
            border-bottom: 1px solid $accent;
            @extend %roboto-700;
        }
    }
    &__list-link--active{
        color: $accent;
        border-bottom: 1px solid $accent;
        @extend %roboto-700;
    }
}
.user-nav{
    display: flex;
    &__link{
        position: relative;
    }
    &__link + .user-nav__link {
        padding-left: 25px;
    }
    &__num{
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $accent;
        top: -9px;
        right: -14px;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #fff;
    }
}


.top-slider{
    background-image: url(../images/slider-bg.png);
    background-repeat: no-repeat;
    // background-size: cover;
    background-position: top center;
    background-color: $bg;
    padding-top: 65px;
    position: relative;
    min-height: 700px;
    &__container{
        max-width: 1560px;
    }
    &__content{
        padding-top: 125px;
        padding-left: 175px;
    }
    // &__wrapper{
    //     display: flex !important;
    //     justify-content: space-between;
    // }
    &__item{
        display: flex !important;
        justify-content: space-between;
    }
    &__title{
        max-width: 670px;
        font-size: 58px;
        line-height: 68px;
        color: $title;
        @extend %roboto-700;
        margin-bottom: 35px;
    }
    &__text{
        margin-bottom: 55px;
        max-width: 470px;
    }
    &__link{
        @extend %btn;
        padding: 14px 36px;
    }
    &__img{
        max-width: 100%;
        display: inline-block;
        position: absolute;
        top: 0px;
        left: 900px;
        z-index: 50;
    }
    .slick-dots{
        display: flex;
        justify-content: center;
        margin-top: -70px;
        li{
            margin: 0 5px;
            line-height: 0;
            button{
                padding: 0;
                font-size: 0;
                background-color: transparent;
                width: 26px;
                height: 26px;
                border: 1px solid transparent;
                border-radius: 50%;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: $default;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    cursor: pointer;
                }
            }
            &.slick-active{
                button{
                    border-color: $accent;
                &::before{
                    background-color: $accent;
                }
                }
            }
        }
    }
}

.categories{
    padding: 120px 50px;
    background-image: url(../images/decor/categories-left.png);
    background-repeat: no-repeat;
    background-position: center left;
    &__wrapper{
        background-image: url(../images/decor/categories-right.png);
        background-repeat: no-repeat;
        background-position: center right;
    }
}
    .info{
        display: flex;
        justify-content: space-between;
        margin-bottom: 110px;
        position: relative;
        &::before,
        &::after {
            content: '';
            position: absolute;
            z-index: -1;
        }
        &::before{
            background-image: url(../images/decor/info-before.png);
            top: -40px;
            left: -45px;
            width: 120px;
            height: 121px;
        }
        &::after{
            background-image: url(../images/decor/info-after.png);
            right: -23px;
            bottom: -23px;
            width: 65px;
            height: 52px;
        }
        &__item{
            padding: 60px 30px;
            width: 370px;
            box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
            background-color: #fff;
            &-title{
                    margin: 35px 0 10px;
                    color: $title;
                    font-size: 22px;
                    @extend %roboto-400;
            }
        }
    }
    .categories-content{
        &__items{
            display: grid;
            min-height: 635px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 30px;
        }
        &__item{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            padding-top: 35px;
            padding-left: 40px;
            &:nth-child(1){
                grid-row: span 2;
                .categories-content__item-subtitle,
                .categories-content__link:hover{
                    color: #5800e4;
                }
            }
            &:nth-child(2){
                grid-column: span 2;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-top: 0;
                .categories-content__item-subtitle,
                .categories-content__link:hover{
                    color: $accent;
            }
        }
            &:nth-child(3){
                .categories-content__item-subtitle,
                .categories-content__link:hover{
                    color: #ffb534;
            }
        }
            &:nth-child(4){
                .categories-content__item-subtitle,
                .categories-content__link:hover{
                    color: #34c3ff;
            }
        }
            &__item-subtitle{
                margin-bottom: 5px;
            }
            &__item-title{
                font-size: 22px;
                color: $title;
                margin-bottom: 16px;
            }
            &__link{
                text-transform: uppercase;
                color: $title;
                transition: all .3s;
                @extend %roboto-400;
            }
        }
    }

    .video-fashion{
        background-color: $bg;
        background-image: url('../images/decor/fashion-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 125px 0;
        &__inner{
            display: flex;
        }
        &__popup{
            margin-right: 60px;
            max-width: 530px;
            width: 100%;
            height: 480px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
        &__content{
            max-width: 570px;
            width: 100%;
        }
        &__subtitle{
             padding-top: 75px;
             font-size: 22px;
             text-transform: uppercase;
             margin-bottom: 5px;
             color: $accent;
        }
        &__title{
            text-align: left;
        }
        &__text{
            margin-bottom: 55px;
        }
        &__link{
            @extend %btn;
        }
    }


  
footer{
    background-color: $bg;
}
.footer__top{
    padding: 70px 0 40px;
    border-bottom: 1px solid #ececec;
    display: flex;
    &-contact{
        width: 205px;
        margin-right: 95px;
    }
    &-nav{
        width: 170px;
        margin-right: 30px;
    }
    &-item-form{
        min-width: 470px;
    }
    &-logo{
        margin-bottom: 33px;
        display: block;
    }
    &-adress,
    &-email,
    &-phone{
        display: block;
        margin-bottom: 14px;
    }
    &-social-list{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    &-social-item + .footer__top-social-item{
        padding-left: 18px;
    }
    &-social-link{
        transition: all .3s;
        path{
            fill: $default;
        }
        &:hover{
            path{
                fill: $accent;
            }
        }

    &-title{
        color: $title;
        @extend %roboto-400;
        font-size: 22px;
        line-height: 1;
        margin-bottom: 43px;
    }
    &-link{
        line-height: 36px;
        margin-bottom: 10px;
        display: block;
    }
}
&-text{
    margin-bottom: 25px;
}
&-form{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    // background-color: #fff;
    max-width: 320px;
    width: 100%;
    border: none;
    // padding: 12px 12px 15px;
    box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
    &::placeholder{
        color: $default;
        font-size: 16px;
    }
}
.footer__top-item-form{
    max-width: 470px;
}
&-input{
    background-color: #fff;
    padding: 12px 12px 15px;
    border: none;
}
&-btn{
    @extend %btn;
    border: none;
    cursor: pointer;
}
}

.footer__bottom{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    &-icons{
        display: inline;
        margin-left: 25px;
        vertical-align: middle;
    }
}
  
@import 'media';